@(title: String, projectId: Int, businessId: Int)

@projectMain("Project Budget","budget", "Project Budget", projectId, businessId) {

    <!-- Project Budget Page Loader Overlay -->
    <div id="project-budget-loader" data-ng-show="controller.isLoaded == false">
        <div class="lds-roller">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <div class="loader-text">Loading Budget</div>
    </div>

    <!-- Main Content -->
    <div class="content"  data-ng-controller="budgetController as controller" data-ng-init="controller.init(@businessId, @projectId)" data-ng-show="controller.isLoaded">

        <!-- Modals -->
            <!-- Delete Break Down List Modal -->
        <data-delete-breakdowns-list-modal data-project-id="@projectId" data-business-id="@businessId" data-breakdowns-lists="controller.breakDownsLists"></data-delete-breakdowns-list-modal>

        <data-new-budget-breakdown-list-modal data-business-id="@businessId" data-project-id="@projectId" data-breakdown-list="controller.breakDownsLists"></data-new-budget-breakdown-list-modal>

        <data-new-payment-modal data-business-id="@businessId" data-project-id="@projectId"></data-new-payment-modal>

        <data-payments-modal data-business-id="@businessId" data-project-id="@projectId" data-payments="controller.currentPayments" data-break-down-list-id="controller.currentBreakdownListId" data-break-down-item-id="controller.currentBreakDownItemId" data-break-downs-lists="controller.currentBreakdownLists"></data-payments-modal>

        <data-new-breakdown-modal data-business-id="@businessId" data-parent="controller.currentParentBreakdown" data-project-id="@projectId" data-breakdown-list="controller.breakDownsLists"></data-new-breakdown-modal>

        <data-edit-breakdown-modal data-business-id="@businessId" data-project-id="@projectId" data-current-breakdown-item="controller.currentBreakdown"  data-breakdown-list="controller.breakDownsLists"></data-edit-breakdown-modal>

        <div class="row text-center" data-ng-show="controller.isLoaded == false">
            <div class="col-md-12 ml-auto mr-auto mt-auto mb-auto">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                <div class="text-default text-center text-capitalize">Loading Budgets Info</div>
            </div>
        </div>

        <div class="row" data-ng-show="controller.isLoaded">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bold text-default"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-title">{{controller.projectInfo.budget |  currency}}</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Budget
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-money-coins text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">{{controller.breakDownsLists.overallEstimate | currency}}</p>
                                    <p class="card-title">{{controller.breakDownsLists.overallActual | currency}}</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Estimate / Actual
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-alert-circle-i text-info"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category"></p>
                                    <p class="card-title" data-ng-if="controller.breakDownsLists.totalSavings > 0">{{controller.breakDownsLists.totalSavings | currency}}
                                    <p class="card-title text-danger" data-ng-if="controller.breakDownsLists.totalSavings < 0">{{controller.breakDownsLists.totalSavings | currency}}
                                <p></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Savings
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bank text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">{{controller.breakDownsLists.overallAmountPaid | currency}}</p>
                                    <p class="card-title">{{controller.breakDownsLists.overallAmountUnPaid | currency}}</p><p>
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Paid / Un Paid
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" data-ng-show="controller.isLoaded">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                            <h4 class="card-title">Breakdowns</h4>
                              <div class="mt-lg-8">
                                  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createBreakDownList">ADD NEW BREAKDOWN</button>
                                  <button type="button" data-ng-show="controller.breakDownsLists.length > 0" class="btn btn-outline-default btn-sm" data-toggle="modal" data-target="#removeBreakdownList">DELETE</button>
                              </div>
                            <div class="mt-lg-3 card card-plain" data-ng-repeat="breakDownList in controller.breakDownsLists">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse_' + breakDownList.breakDown.id}}" aria-expanded="true" aria-controls="collapseOne">
                                        <div class="row ml-0">
                                            <div class="col-lg-3"><h7><b>{{breakDownList.breakDown.title | uppercase}}</b></h7></div>
                                            <div class="col-lg-2 text-left"></div>
                                        </div>

                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </div>
                                <div id="{{ 'collapse_' + breakDownList.breakDown.id}}" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th class="text-center">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Item Name
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Estimated
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Actual
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Amount Paid
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Balance
                                                        </th>
                                                        <th class="text-center text-warning">
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Actions
                                                        </th>
                                                    </tr></thead>
                                                <tbody>
                                                    <tr data-ng-repeat="breakdownItem in breakDownList.subBreakDowns">
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-left">
                                                            {{breakdownItem.breakdownItem.title}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{breakdownItem.breakdownItem.estimate | currency}}
                                                        </td>
                                                        <td  class="text-center" data-ng-if="breakdownItem.breakdownItem.actual <= 0">
                                                            -
                                                        </td>
                                                        <td  class="text-center" data-ng-if="breakdownItem.breakdownItem.actual > 0">
                                                            {{breakdownItem.breakdownItem.actual | currency}}
                                                        </td>
                                                        <td  class="text-center">
                                                            {{breakdownItem.breakdownItem.amountPaid | currency}}
                                                        </td>
                                                        <td class="text-center">
                                                            {{(breakdownItem.breakdownItem.actual - breakdownItem.breakdownItem.amountPaid) | currency}}
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
@*                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remainders">*@
@*                                                                <i class="nc-icon nc-time-alarm"></i>*@
@*                                                            </button>*@
                                                              <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-toggle="modal" data-target="#paymentsModal" data-original-title="View / Add Payments" data-ng-click="controller.setCurrentPayments(breakdownItem.payments, breakDownList.breakDown.id, breakdownItem.breakdownItem.id, controller.breakDownsLists)" tooltip>
                                                                   <i class="nc-icon nc-money-coins"></i>
                                                              </button>
                                                            <button type="button" rel="tooltip"  class="btn btn-warning btn-round btn-icon btn-icon-mini btn-neutral" data-toggle="modal" data-target="#editBreakdownModal" data-original-title="Edit Amounts" data-ng-click="controller.editBreakdownItem(breakdownItem.breakdownItem)" tooltip>
                                                                <i class="nc-icon nc-ruler-pencil"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Delete Item" data-ng-click="controller.deleteBreakdownItem(breakdownItem.breakdownItem)" tooltip>
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
@*                                                    <tr data-ng-if="controller.isNewPayment">*@
@*                                                    <tr>*@
@*                                                        <td class="text-center">*@
@*                                                        </td>*@
@*                                                        <td class="text-left">*@
@*                                                            <input type="text" placeholder="payment date" size="25" style="text-align:center;" class="form-control" data-ng-model="controller.formData.payment_date">*@
@*                                                        </td>*@
@*                                                        <td class="text-left">*@

@*                                                        </td>*@
@*                                                        <td class="text-center">*@
@*                                                            -*@
@*                                                        </td>*@
@*                                                        <td  class="text-center">*@
@*                                                            <input type="number" placeholder="payment amount" size="10" style="text-align:center;" class="form-control" data-ng-model="controller.formData.payment_amount">*@
@*                                                        </td>*@
@*                                                        <td  class="text-center">*@
@*                                                            -*@
@*                                                        </td>*@
@*                                                        <td class="text-center">*@
@*                                                        </td>*@
@*                                                        <td class="text-center">*@
@*                                                            <button type="button" rel="tooltip" title="edit-amounts" class="btn btn-warning btn-round btn-icon btn-icon-mini btn-neutral" data-toggle="modal" data-target="#editBreakdownModal" data-original-title="edit" data-ng-click="controller.editBreakdownItem(breakdownItem)">*@
@*                                                                <i class="nc-icon nc-ruler-pencil"></i>*@
@*                                                            </button>*@
@*                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove" data-ng-click="controller.deleteBreakdownItem(breakdownItem)">*@
@*                                                                <i class="nc-icon nc-simple-remove"></i>*@
@*                                                            </button>*@
@*                                                        </td>*@
@*                                                    </tr>*@
@*                                                    <tr>*@
@*                                                        <td class="text-center">*@
@*                                                        </td>*@
@*                                                        <td class="text-left">*@

@*                                                        </td>*@
@*                                                        <td class="text-left">*@
@*                                                            {{payment.title}}*@
@*                                                        </td>*@
@*                                                        <td class="text-center">*@
@*                                                            -*@
@*                                                        </td>*@
@*                                                        <td  class="text-center">*@
@*                                                            -*@
@*                                                        </td>*@
@*                                                        <td  class="text-center">*@
@*                                                            -*@
@*                                                        </td>*@
@*                                                        <td class="text-center">*@
@*                                                        </td>*@
@*                                                        <td class="text-center">*@
@*                                                            <button type="button" rel="tooltip"  class="btn btn-warning btn-round btn-icon btn-icon-mini btn-neutral" data-toggle="modal" data-target="#editBreakdownModal" data-original-title="Edit Amounts" data-ng-click="controller.editBreakdownItem(breakdownItem)" tooltip>*@
@*                                                                <i class="nc-icon nc-ruler-pencil"></i>*@
@*                                                            </button>*@
@*                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove Item" data-ng-click="controller.deleteBreakdownItem(breakdownItem)" tooltip>*@
@*                                                                <i class="nc-icon nc-simple-remove"></i>*@
@*                                                            </button>*@
@*                                                        </td>*@
@*                                                    </tr>*@

                                                        <!-- Totals -->
                                                    <tr>
                                                        <td class="text-center">

                                                        </td>
                                                        <td class="text-right">
                                                            <i class="nc-icon nc-money-coins"></i>  Totals
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>{{breakDownList.totalEstimate | currency}}</h6>
                                                        </td>
                                                        <td  class="text-center">
                                                            <h6>{{breakDownList.totalActual | currency}}</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>{{breakDownList.totalPaid | currency}}</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>{{breakDownList.totalBalance | currency}}</h6>
                                                        </td>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                            - -
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-default btn-round btn-outline-default btn-neutral" rel="tooltip" data-toggle="modal" data-target="#newBreakdownItem" data-original-title="New Item" data-ng-click="controller.newBreakdownItem(breakDownList.breakDown)" tooltip>
                                                Add Item
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    #project-budget-loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f4f3ef;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2000;
    }
    
    #project-budget-loader .loader-text {
        margin-top: 20px;
        font-size: 16px;
        color: #666;
        text-transform: capitalize;
    }
</style>

}