@import play.api.libs.json.JsValue
@(title: String, projectId: Int, businessId: Int)

    @projectMain("Project Settings", "project-settings", "Project Settings", projectId, businessId) {
    <div class="content" data-ng-controller="projectSettingsController as controller" data-ng-init="controller.init(@businessId, @projectId)">
        <div class="content">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Client Access</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <div class="form-group">
                                            <label>Client's Username</label>
                                            <input type="text" class="form-control" placeholder="Username (required)" value=""  data-ng-model="controller.clientAccessSettingsFormData.username" required>
                                        </div>
                                    </div>
                                    <div class="col-md-5 pr-1">
                                        <div class="form-group">
                                            <label>Client's Password</label>
                                            <input type="password" class="form-control" placeholder="Password (required)" value=""  name="password" data-ng-model="controller.clientAccessSettingsFormData.password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <div class="form-group">
                                            <label>Client's Email address</label>
                                            <input type="email"  class="form-control" placeholder="Email Address (required)" data-ng-model="controller.clientAccessSettingsFormData.email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 pr-1" data-ng-if="controller.clientAccessSettings === null">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="" data-ng-click="controller.createAClientAccess(@businessId, @projectId)">Create Access Settings</button>
                                    </div>
                                    <div class="col-md-5 pr-1" data-ng-if="controller.clientAccessSettings !== null">
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="" data-ng-click="controller.updateAccessSettings(@businessId, @projectId)">Update Access Info</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}