@(message: String, businessId: Int)

@main("Well Planner", "projects", "Projects", businessId) {
    <div class="content" data-ng-controller="projectsController as controller" data-ng-init="controller.getAllProjects(@businessId)">
        <!-- New Project Modal -->
        <data-new-project-modal data-projects="controller.projects" data-business-id=@businessId></data-new-project-modal>

        <div class="row text-center" data-ng-show="controller.isLoaded == false">
            <div class="col-md-12 ml-auto mr-auto mt-auto mb-auto">
@*                <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>*@
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                <div class="text-default text-center text-capitalize">Loading Projects</div>
            </div>
        </div>

        <!-- Old card grid hidden; new vendor-style table layout below -->

<div class="row" data-ng-show="controller.isLoaded">
    <!-- <div class="col-md-8">
        <button type="button" class="btn btn-default" data-toggle="modal" rel="tooltip" data-original-title="Add New Project"  data-target="#newProject" tooltip>New Project</button>
    </div> -->
    <div class="col-md-4 pull-right">
        <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Search..." ng-model="searchText">
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" data-ng-show="controller.isLoaded">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Project Name</th>
                            <th class="text-center">Budget</th>
                            <th class="text-center">Notes</th>
                            
                            <th class="text-center">Created</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="project in controller.projects | filter:searchText">
                            <td class="text-center">{{ project.name }}</td>
                            <td class="text-center">{{ project.budget }}</td>
                            <td class="text-center">{{ project.notes }}</td>
                            <td class="text-center">{{ project.created_date_display }}</td>
                            
                            <td class="td-actions text-center">
                                
                                <a href="/pages/{{project.business_id}}/projects/{{project.id}}/overview-dashboard" class="btn btn-warning" rel="tooltip" data-original-title="View Project" tooltip>
                                    <i class="nc-icon nc-minimal-right"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}